<div class="flex flex-col gap-16 has-brand-pattern w-full h-screen bg-accent justify-center items-center">
  <.error :if={@error_message}>{@error_message}</.error>
  <img src="/images/poopy-logo-main.svg" class="w-3/4" />
  <.link
    href={~p"/auth/google"}
    class="phx-submit-loading:opacity-75 rounded-full bg-auth hover:bg-authhover"
  >
    <img src="/images/google-icon.svg" class="w-32 h-32" />
  </.link>
</div>
