<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      {assigns[:page_title] || "PoopyLoops"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <%!-- Google DynaPuff Font --%>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-backgroundmain">
    <%!-- <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <%= if @current_user do %>
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          {@current_user.email}
        </li>
      <% end %>
    </ul> --%>
    <div class="w-full h-20 p-2.5 bg-accent flex justify-center items-center">
      <div class="h-[45px] w-full max-w-screen-xl flex justify-between items-center">
        <div class="flex items-center gap-3">
          <!-- Logo -->
          <div class="w-[296px] h-9 relative">
            <img src="/images/poopy-logo-main.svg" />
          </div>
        </div>
        <div class="flex flex-row items-center gap-6">
          <div class="flex flex-col justify-center align-center items-end gap-0">
            <div class="text-headertextweak text-sm font-normal">
              користувач
            </div>
            <div class="text-headertextstrong text-xl font-normal">
              {@current_user.name}
            </div>
          </div>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="flex border rounded-xl w-16 h-10 border-headertextstrong justify-center items-center flex-wrap logout-button"
          >
            <img src="/images/logout.svg" />
          </.link>
        </div>
      </div>
    </div>
    {@inner_content}
  </body>
</html>
